@media only screen and (min-width: 70em) {
    .float-left {
        float: left;
    }
}

body {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    overflow: auto;
}

#sidebar ul.collapsible-menu label {
    left: 3px;
}

.children-li p {
    font-size: 1em;
    font-style: normal;
}

#body .children-li a.highlight {
    font-size: larger;
    color: var(--INTERNAL-MENU-SECTION-ACTIVE-CATEGORY-color);
}

.children-li li {
    margin-top: 1em;
}

.read-full-post {
    margin: 1em 0;
}

.post-metadata > span {
    margin-right: 0.5em;
}

.post-tag {
    padding: 0 5px 5px 5px;
    border: 1px solid var(--MENU-SECTION-HR-color);
    border-radius: 3px;
    background-color: var(--MENU-SECTIONS-ACTIVE-BG-color);
}

.post-paging {
    display: flex;
    flex: 1 1;
    align-items: center;
    margin-top: 2em;
}

.post-paging-item {
    flex: 1 1 0;
}

.post-paging-prev {
    text-align: left;
}

.post-paging-next {
    text-align: right;
}

.post-summary {
    padding-bottom: 2em;
    border-bottom: 1.5px dashed var(--MENU-SECTION-HR-color);
}

#body .post-summary h3 {
    margin-top: 1.5rem;
}

#footer {
    padding-left: 1em;
}

pre {
    padding: 0.1rem;
    margin: 1rem 0;
    line-height: 1.2;
}

.lntd:last-child {
    width: 100%;
}

.chroma .hl {
    background-color: var(--MENU-SECTION-HR-color);
}